set_io clk 112
set_io rst 113
set_io io_addr[0] 114
set_io io_addr[1] 115
set_io io_addr[2] 116
set_io io_addr[3] 117
set_io io_addr[4] 118
set_io io_addr[5] 119
set_io io_read 120
set_io io_write 122
set_io io_in[0] 134
set_io io_in[1] 135
set_io io_in[2] 136
set_io io_in[3] 137
set_io io_in[4] 138
set_io io_in[5] 139
set_io io_in[6] 141
set_io io_in[7] 142
set_io io_out[0] 78
set_io io_out[1] 79
set_io io_out[2] 80
set_io io_out[3] 81
set_io io_out[4] 87
set_io io_out[5] 88
set_io io_out[6] 90
set_io io_out[7] 91
